<!DOCTYPE html>
<html lang="en">
<head>
<title>401</title>
</head>
<body>
<h1>Error 401: Unauthorized</h2>
<p>You have no privvy token!</p>
<button><a href="/login">log in</a></button>
<button><a href="/">go home</a></button>
</body>
</html>
