<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="en">
<head>
  <title>Welcome</title>
</head>

<body>
  <h1>Welcome!</h1>
  <button><a href="/private">privvy</a></button>
</body>
</html>
