<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="en">
<head>
  <title>Welcome!</title>
</head>

<body>
  <h1>Welcome!</h1>


  <p>You can visit the privvy if you have the token</p>
  <button><a href="/private">privvy</a></button> <button><a href="/login">Log In</a></button>
</body>
</html>
